@font-face
  font-family: "JetBrains Mono"
  src: url(../assets/jetbrains-mono/JetBrainsMono-Regular.ttf) format("truetype")
  font-weight: 400
  font-style: normal
  font-display: swap


@font-face
  font-family: "JetBrains Mono"
  src: url(../assets/jetbrains-mono/JetBrainsMono-Bold.ttf) format("truetype")
  font-weight: bold
  font-style: normal
  font-display: swap


\:root
  --colorTexto: #d7d7d7
  --colorFondo: #0E1419
  --colorTeoria: #3f77f3
  --colorLab: #e4564a
  --fuente-titulos: "Open Sans", sans-serif
  --fuente-textos: "Open Sans", sans-serif
  --fuente-monoespacio: "JetBrains Mono", monospace

/* black white */

html
  font-family: var(--fuente-textos)
  color: var(--colorTexto)
  background-color: var(--colorFondo)

h1, h2, h3
  font-family: var(--fuente-titulos)

// Varios

.cursor_click
  cursor: pointer


// Celdas del horario
$duracionTransicion: 100ms


.celda
  white-space: pre
  font-family: var(--fuente-monoespacio)
  cursor: pointer
  user-select: none
  // transition: background-color $duracionTransicion linear, color $duracionTransicion linear


.celda__teoria
  color: var(--colorTeoria)


.celda__teoria:hover, .celda__teoria--resaltado, .celda__teoria--activo
  background-color: var(--colorTeoria)
  color: white


.celda__lab
  color: var(--colorLab)


.celda__lab:hover, .celda__lab--resaltado, .celda__lab--activo
  background-color: var(--colorLab)
  color: white


.celda-oculta
  display: none


@media only screen and (min-width: 777px)
  .mostrar-en-tablet
    display: none !important


@media only screen and (min-width: 1001px)
  .mostrar-bajo-1000
    display: none !important
