\:root
  --colorTexto: #d7d7d7
  --colorFondo: #0E1419
  --colorTeoria: #3f77f3
  --colorLab: #e4564a

/* black white */

html
  font-family: "Roboto", sans-serif
  color: var(--colorTexto)
  background-color: var(--colorFondo)

h1, h2, h3
  font-family: "Product Sans", Roboto, sans-serif

// Varios

.cursor_click
  cursor: pointer


// Celdas del horario
$duracionTransicion: 100ms


.celda
  white-space: pre
  font-family: "Fira Code", monospace
  cursor: pointer
  user-select: none
  transition: background-color $duracionTransicion linear, color $duracionTransicion linear


.celda__teoria
  color: var(--colorTeoria)


.celda__teoria:hover, .celda__teoria--resaltado, .celda__teoria--activo
  background-color: var(--colorTeoria)
  color: white


.celda__lab
  color: var(--colorLab)


.celda__lab:hover, .celda__lab--resaltado, .celda__lab--activo
  background-color: var(--colorLab)
  color: white

